<br>
<div class="form-group backcol">

<p class="latsize">
  <strong><%= t(:Char_ls) %>:</strong>
  <%= @char.name %>
</p>

<p class="latsize">
  <strong><%= t(:Str_l) %>:</strong>
  <%= @char.strength %>
</p>

<p class="latsize">
  <strong><%= t(:Per_l) %>:</strong>
  <%= @char.perception %>
</p>

<p class="latsize">
  <strong><%= t(:End_l) %>:</strong>
  <%= @char.endurance %>
</p>

<p class="latsize">
  <strong><%= t(:Charis_l) %>:</strong>
  <%= @char.charisma %>
</p>

<p class="latsize">
  <strong><%= t(:Intel_l) %>:</strong>
  <%= @char.intelligence %>
</p>

<p class="latsize">
  <strong><%= t(:Ag_l) %>:</strong>
  <%= @char.agility %>
</p>

<p class="latsize">
  <strong><%= t(:Luck_l) %>:</strong>
  <%= @char.luck %>
</p>

</div>
